<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<legend><center>Create New Region</center></legend>

<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="prependedtext">Ragion Name</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-right"></i></span>
      <input id="prependedtext" name="prependedtext" class="form-control input-md" placeholder="Enter Region Name" type="text" required="">
    </div>
    
  </div>
</div>
<!-- Button (Double) -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="addBtn"></label>
				<div class="col-md-8">
					<button style="width: 24%" id="addBtn" name="addBtn"
						class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Add</button>
					<button style="width: 23%" id="clearBtn" name="clearBtn"
						class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
				</div>
			</div>
</fieldset>
</form>
